<a href="https://colab.research.google.com/github/Andrey-Mel/parsing_hh/blob/main/%D0%9F%D0%B0%D1%80%D1%81%D0%B8%D0%BD%D0%B3_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_hh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1. Используя ноутбук занятия сделайте парсинг базы headhunter. Добавьте в конечную базу
готовность к переезду и командировкам (2 дополнительных столбца)

In [ ]:
import re #регулярные выражения
import pandas as pd #импортируем пандас для обработки и анализа данных
import datetime #импорт модуля datetime для обработки данных в формате даты
import numpy as np #импортируем библиотеку numpy
from google.colab import files #импортируем библиотеку files для работы с файлами

In [ ]:
#Для загрузки данных используем drive
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
#Считываем файл csv и сохраняем в датафрейм пандас
my_df = pd.read_csv('/content/drive/My Drive/hh.csv')

In [ ]:
my_df.head()

   Unnamed: 0  ...                            Авто
0           0  ...  Имеется собственный автомобиль
1           1  ...                      Не указано
2           2  ...                      Не указано
3           3  ...                      Не указано
4           4  ...                      Не указано

[5 rows x 13 columns]

In [ ]:
my_df.shape

(66945, 13)

In [ ]:
n = 15
for i in range(len(my_df.values[n])):
  print(i,' ',my_df.values[n][i])

0   15
1   Мужчина ,  31 год , родился 1 сентября 1987
2   150 000 руб.
3   HighLoad, SDS Ceph,DevOps,SRE
4   Киров , готов к переезду , готов к командировкам
5    проектная работа, частичная занятость, полная занятость
6    удаленная работа, гибкий график, полный день, сменный график
7   Опыт работы 13 лет 6 месяцев

HighLoad, SDS Ceph,DevOps,SRE 150 000 руб. Информационные технологии, интернет, телеком Сетевые технологии Системный администратор Инженер Занятость: проектная работа, частичная занятость, полная занятость График работы: удаленная работа, гибкий график, полный день, сменный график Опыт работы 13 лет 6 месяцев Ноябрь 2017 — по настоящее время 1 год 6 месяцев Банк Хлынов Киров , www.bank-hlynov.ru/ Финансовый сектор ... Банк Ведущий инженер отдела системной интеграции 1. Ответственный за сектор сопровождения инфраструктуры. 2. Внедрение и обслуживание систем хранения данных Ceph (rbd,radosgw), суммарный объем 1ПБ 3. Внедрение и обслуживание систем резервного копирования 4. Внедрение и обслуживание систем хранения и анализа логов, метрик, мониторинга. ELK, Zabbix, Prometheus 5. Внедрение и обслуживание систем виртуализации KVM 6. Автоматизация рабочего процесса - bash,golang,c,c++. Много :) 7. Внедрение и обслуждение сложных технических решений :) Январь 2015 — Ноябрь  2017 2 года 11 месяцев Банк Хлынов Киров , www.bank-hlynov.ru/ Финансовый сектор ... Банк Старший системный администратор 1. Внедрение и обслуживание систем хранения данных Ceph (rbd,radosgw), суммарный объем 1ПБ 2. Внедрение и обслуживание систем резервного копирования 3. Внедрение и обслуживание систем мониторинга zabbix,graphite 4. Внедрение и обслуживание систем виртуализации KVM 5. Автоматизация рабочего процесса - bash,golang,c,c++ 6. Обслуживание СУБД Oracle Июнь 2013 — Январь  2015 1 год 8 месяцев Банк Хлынов Киров , www.bank-hlynov.ru/ Финансовый сектор ... Банк Системный Администратор 1. Внедрение и обслуживание систем хранения данных Ceph (rbd,radosgw), суммарный объем 1ПБ 2. Внедрение и обслуживание систем резервного копирования 3. Внедрение и обслуживание систем мониторинга zabbix,graphite 4. Внедрение и обслуживание систем виртуализации KVM 5. Автоматизация рабочего процесса - bash,golang,c,c++ 6. Обслуживание СУБД Oracle Январь 2008 — Июнь  2013 5 лет 6 месяцев УФК по Кировской области старший специалист Не заполнено Ноябрь 2005 — Январь  2008 2 года 3 месяца ИП Ахмадуллин Программист Не заполнено Ключевые навыки Теперь резюме открыто всему интернету — изменить можно в настройках видимости. KVM Ceph Linux C++ Golang Proxmox Hashicorp Consul Nomad Overlay Docker GitLab CentOS RedHat Ubuntu Server Oracle 11G PostgreSQL DevOps RBD RadosGW Dell Servers Zabbix Ansible Работа в команде Grafana ELK RHEL HighLoad elasticsearch Возникли неполадки. Попробуйте еще раз. Опыт вождения Права категории A, B Обо мне Аналитический склад ума. Спортсмен, КМС по пауэрлифтингу IPF Высшее образование 2014 Кликнув на название учебного заведения вы сможете найти кандидатов из этого вуза. Вятский государственный университет, Киров ФАВТ, АТ Знание языков Русский — Родной Английский — B1 — Средний Повышение квалификации, курсы 2014 Oracle Database 11g: Administration Workshop 2 Oracle University Гражданство, время в пути до работы Гражданство: Россия Разрешение на работу: Россия Желательное время в пути до работы: Не более часа

Опыт работы 13 лет 6 месяцев Ноябрь 2017 — по настоящее время 1 год 6 месяцев Банк Хлынов Киров , www.bank-hlynov.ru/ Финансовый сектор ... Банк Ведущий инженер отдела системной интеграции 1. Ответственный за сектор сопровождения инфраструктуры. 2. Внедрение и обслуживание систем хранения данных Ceph (rbd,radosgw), суммарный объем 1ПБ 3. Внедрение и обслуживание систем резервного копирования 4. Внедрение и обслуживание систем хранения и анализа логов, метрик, мониторинга. ELK, Zabbix, Prometheus 5. Внедрение и обслуживание систем виртуализации KVM 6. Автоматизация рабочего процесса - bash,golang,c,c++. Много :) 7. Внедрение и обслуждение сложных технических решений :) Январь 2015 — Ноябрь  2017 2 года 11 месяцев Банк Хлынов Киров , www.bank-hlynov.ru/ Финансовый сектор ... Банк Старший системный администратор 1. Внедрение и обслуживание систем хранения данных Ceph (rbd,radosgw), суммарный объем 1ПБ 2. Внедрение и обслуживание систем резервного копирования 3. Внедрение и обслуживание систем мониторинга zabbix,graphite 4. Внедрение и обслуживание систем виртуализации KVM 5. Автоматизация рабочего процесса - bash,golang,c,c++ 6. Обслуживание СУБД Oracle Июнь 2013 — Январь  2015 1 год 8 месяцев Банк Хлынов Киров , www.bank-hlynov.ru/ Финансовый сектор ... Банк Системный Администратор 1. Внедрение и обслуживание систем хранения данных Ceph (rbd,radosgw), суммарный объем 1ПБ 2. Внедрение и обслуживание систем резервного копирования 3. Внедрение и обслуживание систем мониторинга zabbix,graphite 4. Внедрение и обслуживание систем виртуализации KVM 5. Автоматизация рабочего процесса - bash,golang,c,c++ 6. Обслуживание СУБД Oracle Январь 2008 — Июнь  2013 5 лет 6 месяцев УФК по Кировской области старший специалист Не заполнено Ноябрь 2005 — Январь  2008 2 года 3 месяца ИП Ахмадуллин Программист Не заполнено

Ноябрь 2017 — по настоящее время 1 год 6 месяцев Банк Хлынов Киров , www.bank-hlynov.ru/ Финансовый сектор ... Банк Ведущий инженер отдела системной интеграции 1. Ответственный за сектор сопровождения инфраструктуры. 2. Внедрение и обслуживание систем хранения данных Ceph (rbd,radosgw), суммарный объем 1ПБ 3. Внедрение и обслуживание систем резервного копирования 4. Внедрение и обслуживание систем хранения и анализа логов, метрик, мониторинга. ELK, Zabbix, Prometheus 5. Внедрение и обслуживание систем виртуализации KVM 6. Автоматизация рабочего процесса - bash,golang,c,c++. Много :) 7. Внедрение и обслуждение сложных технических решений :)

Январь 2015 — Ноябрь  2017 2 года 11 месяцев Банк Хлынов Киров , www.bank-hlynov.ru/ Финансовый сектор ... Банк Старший системный администратор 1. Внедрение и обслуживание систем хранения данных Ceph (rbd,radosgw), суммарный объем 1ПБ 2. Внедрение и обслуживание систем резервного копирования 3. Внедрение и обслуживание систем мониторинга zabbix,graphite 4. Внедрение и обслуживание систем виртуализации KVM 5. Автоматизация рабочего процесса - bash,golang,c,c++ 6. Обслуживание СУБД Oracle

Июнь 2013 — Январь  2015 1 год 8 месяцев Банк Хлынов Киров , www.bank-hlynov.ru/ Финансовый сектор ... Банк Системный Администратор 1. Внедрение и обслуживание систем хранения данных Ceph (rbd,radosgw), суммарный объем 1ПБ 2. Внедрение и обслуживание систем резервного копирования 3. Внедрение и обслуживание систем мониторинга zabbix,graphite 4. Внедрение и обслуживание систем виртуализации KVM 5. Автоматизация рабочего процесса - bash,golang,c,c++ 6. Обслуживание СУБД Oracle

Январь 2008 — Июнь  2013 5 лет 6 месяцев УФК по Кировской области старший специалист Не заполнено

Ноябрь 2005 — Январь  2008 2 года 3 месяца ИП Ахмадуллин Программист Не заполнено


8   Банк Хлынов
9   Ведущий инженер отдела системной интеграции
10   Высшее образование 2014  Вятский государственный университет, Киров ФАВТ, АТ
11   28.04.2019 09:14
12   Не указано

In [ ]:
#убираем столбец с продублироваными индексами
my_df = my_df.drop(my_df.columns[0], axis=1)

In [ ]:
#убрать кодировку \xa0 и \n
i = 0
for j in range(my_df.shape[1]):
  for i in range(my_df.shape[0]):
    if type(my_df.values[i][j]) != float:
      my_df.values[i][j] = my_df.values[i][j].replace('\xa0','')
      my_df.values[i][j] = my_df.values[i][j].replace('\n','')

In [ ]:
n = 3
for i in range(len(my_df.values[n])):
  print(i,' ',my_df.values[n][i])

0   Мужчина ,  43года , родился 9 февраля 1976
1   70000 руб.
2   Web-программист, Web-администратор, Web-мастер
3   Москва ,  м. Марьино , не готов к переезду , готов к редким командировкам
4    полная занятость
5    удаленная работа, гибкий график, полный день
6   Опыт работы 5 лет 9 месяцевWeb-программист, Web-администратор, Web-мастер 70000 руб. Информационные технологии, интернет, телеком Программирование, Разработка Web инженер Web мастер Занятость: полная занятость График работы: удаленная работа, гибкий график, полный день Опыт работы 5 лет 9 месяцев Июнь2017 — Август 2018 1 год 3 месяца ГБУ "МДОО" Москва , xn--80adfe5b7a9ayd.xn--80adxhks/ Государственные организации ... Государственные организации специалист отдела интернет-проектов Обязанности: доработка и поддержка в составе команды (сфера ответственности - frontend) основного проекта организации (yii2). Разработка и поддержка промо-страниц, промо-сайтов организации (WordPress, Bitrix). Сентябрь2016 — Май 2017 9 месяцев "Шалуны" (ООО "Априори Групп") Москва , shaluny.ru Розничная торговля ... Интернет-магазин Розничная сеть (одежда, обувь, аксессуары) Розничная сеть (товары для детей) Администратор сайта Изначальные задачи - поддержка и оптимизация ресурса (1с-Битрикс), администрирование VPS, контроль продвижения, контакты с разработчиками. В процессе работы к указанным задачам добавлены: редизайн ресурса (своими силами на базе стороннего решения), подготовка и проведение миграции ресурса (смена хостинг-партнера), доработка компонентов или расширение функционала, настройка обмена с 1С (УПП, УТ). Апрель2013 — Июнь 2016 3 года 3 месяца Агентство Правовой Информации "Воробьевы горы" Москва , apivg.ru Web-администратор Задачей изначально была сборка ресурса (на Joomla 3.x), наполнение. Дизайн - совместно с граф. дизайнером компании. По запуску - продвижение (по факту - продвижение со startup), модернизация, наполнение. На момент ухода - обслуживание и доработка 2-х сайтов компании (Joomla 3.x и MODX Evo). Август2011 — Январь 2012 6 месяцев ООО "ТК Альянс" Москва , tkallians.ru Web-администратор Обслуживание корпоративного сайта. SEO-аудит ресурса. Ключевые навыки Теперь резюме открыто всему интернету — изменить можно в настройках видимости. HTML HTML5 CSS CSS3 Bootstrap PHP JavaScript jQuery Joomla CMS CMS Wordpress 1С-Битрикс Yii ООП Кроссбраузерная верстка Создание сайтов Веб-программирование Администрирование сайтов Возникли неполадки. Попробуйте еще раз. Обо мне Так получилось, что изначально уклон был взят в сторону frontend-разработки. Уверенные знания верстки (HTML, CSS, HTML5, CSS3, LESS), знаком с JS (jQuery). В процессе изучения PHP (профильные курсы + самообучение). Освоены: Joomla, WordPress, MODX, OpenCart (ocStore), изучаю 1C Bitrix. Есть опыт работы с YII2, изучаю его с точки зрения разработчика. На последнем рабочем месте появился интерес к освоению СДО на базе Moodle. Работа с графическим пакетом Adobe (Photoshop, Illustrator) Высшее образование 2002 Кликнув на название учебного заведения вы сможете найти кандидатов из этого вуза. Российский государственный гуманитарный университет, Москва Информационные и медиатехнологии, Дизайнер-разработчик 2000 Государственный университет управления, Москва Менеджмент на автотранспорте, Инженер-менеджер автотранспортного предприятия Знание языков Русский — Родной Английский — B2 — Средне-продвинутый Повышение квалификации, курсы 2019 GeekBrains GeekBrains, Web-разработчик Гражданство, время в пути до работы Гражданство: Россия Разрешение на работу: Россия Желательное время в пути до работы: Не имеет значенияОпыт работы 5 лет 9 месяцев Июнь2017 — Август 2018 1 год 3 месяца ГБУ "МДОО" Москва , xn--80adfe5b7a9ayd.xn--80adxhks/ Государственные организации ... Государственные организации специалист отдела интернет-проектов Обязанности: доработка и поддержка в составе команды (сфера ответственности - frontend) основного проекта организации (yii2). Разработка и поддержка промо-страниц, промо-сайтов организации (WordPress, Bitrix). Сентябрь2016 — Май 2017 9 месяцев "Шалуны" (ООО "Априори Групп") Москва , shaluny.ru Розничная торговля ... Интернет-магазин Розничная сеть (одежда, обувь, аксессуары) Розничная сеть (товары для детей) Администратор сайта Изначальные задачи - поддержка и оптимизация ресурса (1с-Битрикс), администрирование VPS, контроль продвижения, контакты с разработчиками. В процессе работы к указанным задачам добавлены: редизайн ресурса (своими силами на базе стороннего решения), подготовка и проведение миграции ресурса (смена хостинг-партнера), доработка компонентов или расширение функционала, настройка обмена с 1С (УПП, УТ). Апрель2013 — Июнь 2016 3 года 3 месяца Агентство Правовой Информации "Воробьевы горы" Москва , apivg.ru Web-администратор Задачей изначально была сборка ресурса (на Joomla 3.x), наполнение. Дизайн - совместно с граф. дизайнером компании. По запуску - продвижение (по факту - продвижение со startup), модернизация, наполнение. На момент ухода - обслуживание и доработка 2-х сайтов компании (Joomla 3.x и MODX Evo). Август2011 — Январь 2012 6 месяцев ООО "ТК Альянс" Москва , tkallians.ru Web-администратор Обслуживание корпоративного сайта. SEO-аудит ресурса.Июнь2017 — Август 2018 1 год 3 месяца ГБУ "МДОО" Москва , xn--80adfe5b7a9ayd.xn--80adxhks/ Государственные организации ... Государственные организации специалист отдела интернет-проектов Обязанности: доработка и поддержка в составе команды (сфера ответственности - frontend) основного проекта организации (yii2). Разработка и поддержка промо-страниц, промо-сайтов организации (WordPress, Bitrix).Сентябрь2016 — Май 2017 9 месяцев "Шалуны" (ООО "Априори Групп") Москва , shaluny.ru Розничная торговля ... Интернет-магазин Розничная сеть (одежда, обувь, аксессуары) Розничная сеть (товары для детей) Администратор сайта Изначальные задачи - поддержка и оптимизация ресурса (1с-Битрикс), администрирование VPS, контроль продвижения, контакты с разработчиками. В процессе работы к указанным задачам добавлены: редизайн ресурса (своими силами на базе стороннего решения), подготовка и проведение миграции ресурса (смена хостинг-партнера), доработка компонентов или расширение функционала, настройка обмена с 1С (УПП, УТ).Апрель2013 — Июнь 2016 3 года 3 месяца Агентство Правовой Информации "Воробьевы горы" Москва , apivg.ru Web-администратор Задачей изначально была сборка ресурса (на Joomla 3.x), наполнение. Дизайн - совместно с граф. дизайнером компании. По запуску - продвижение (по факту - продвижение со startup), модернизация, наполнение. На момент ухода - обслуживание и доработка 2-х сайтов компании (Joomla 3.x и MODX Evo).Август2011 — Январь 2012 6 месяцев ООО "ТК Альянс" Москва , tkallians.ru Web-администратор Обслуживание корпоративного сайта. SEO-аудит ресурса.
7   ГБУ "МДОО"
8   специалист отдела интернет-проектов
9   Высшее образование 2002  Российский государственный гуманитарный университет, Москва Информационные и медиатехнологии, Дизайнер-разработчик 2000 Государственный университет управления, Москва Менеджмент на автотранспорте, Инженер-менеджер автотранспортного предприятия
10   28.04.2019 10:29
11   Не указано

In [ ]:
# Парсим базу
#Данные о поле и возрасте
def getParametersSexAge(arg):
  out = 0
  if 'Муж' in arg:
    sex = 'М'
  elif 'Жен' in arg:
    sex = 'Ж'
  else:
    sex = 'Не указан'
  #текущий год - год рождения
  year_tec = 2020
  if (len(arg) > 7):
    out = year_tec - int(re.findall(r'\d{4}', arg)[0])
  return sex, str(out)

  #Зарплата
def getParameterSalary(arg):
  global salaryStr, num 
  salaryStr = 0
  arg = str(arg)
  salaryStr = int(re.sub(r'[^0-9]+','',arg)) #удаляем НЕ числовые значения, + - любой длины,''- заменить на пустоту, arg - все это ищем в arg
  curr_ = re.sub('[0-9]','',arg).replace('.','')
  #Конвертируем в рубли
  if 'USD' in curr_: salaryStr = float(salaryStr)*75
  elif 'KZT' in curr_: salaryStr = float(salaryStr)*0.17
  elif 'грн' in curr_: salaryStr = float(salaryStr)*2.6
  num = salaryStr
  return salaryStr

#Данные о городе
def getParameterCity(arg):
  milionCities = "Новосибирск Екатеринбург Нижний Новгород Казань Челябинск Омск Самара Ростов-на-Дону Уфа Красноярск Пермь Воронеж Волгоград Сочи"
  #
  arg = arg.replace(' ','',3)
  arg = re.sub(r',м.',' м.', arg)

  #
  sarg = arg.split(',')
  item = sarg[0]
  #item = item.strip()
  pereezd = sarg[1]
  comandirovka = sarg[2]
  if item == 'Москва': return 'Москва', pereezd, comandirovka
  if item == 'Санкт-Петербург': return'Санкт-Петербург', pereezd, comandirovka
  if item in milionCities: return item , pereezd, comandirovka
  else: return  'малый или за пределами России город', pereezd, comandirovka
  
  
#Данные о желаемой занятости
def getParameterEmloyment(arg):
  result = ''
  if ('стажировка' in arg)|('volunteer' in arg)|('work placement' in arg): result += 'стажировка'
  if ('частичная занятость' in arg)|('part' in arg):  result += 'частичная занятость'
  if ('проектная работа' in arg)|('project' in arg): result += 'проектная работа'
  if ('полная занятость' in arg)|('full' in arg): result += 'полная занятость'
  if result == '': result = 'Не указано'
  return result

#Данные о желаемом графике работы
def getParameterSchedule(arg):
  result = ''
  if ('гибкий график' in arg)|('flexible' in arg): result += 'гибкий график'
  if ('полный день' in arg)|('full' in arg): result += 'полный день'
  if ('сменный график' in arg)|('shift' in arg): result += 'сменный график'
  if ('удаленная работа' in arg)|('remote' in arg): result += 'удаленная работа'
  if result == '': result = 'Не указано'
  return result

#Данные об образовании
def getParameterEducation(arg):
  result = ''
  arg = arg.lower()
  if ('высшее'in arg)|('higher education' in arg): result += 'высшее'
  if ('среднее специальное' in arg)|('special' in arg)|('колледж' in arg)|('college' in arg): result += 'среднее специальное'
  if ('неоконченное высшее' in arg)|('incomplete' in arg): result += 'неоконченное высшее'
  if ('среднее образование' in arg)|('secondary education' in arg): result += 'среднее образование'
  if result == '': result = 'Не указано'
  return result

#Данные об опыте работы
def getParameterExperience(arg):
  sarg = arg.split(' ', 5)
  year = 0
  month = 0
  if len(sarg)!=6: sarg.append(0);sarg.append("");sarg.append(0);sarg.append('')
  try:
    years = int(sarg[2])
  except ValueError:
    years = 0

  try:
    months = int(sarg[4])
  except ValueError:
    months = 0
  return 12*years+months

In [ ]:
my_df.head()

                                  Пол, возраст  ...                            Авто
0   Мужчина ,  42года , родился 6 октября 1976  ...  Имеется собственный автомобиль
1    Мужчина ,  41год , родился 14 января 1978  ...                      Не указано
2  Мужчина ,  44года , родился 21 февраля 1975  ...                      Не указано
3   Мужчина ,  43года , родился 9 февраля 1976  ...                      Не указано
4      Мужчина ,  39лет , родился 14 июня 1979  ...                      Не указано

[5 rows x 12 columns]

In [ ]:
df_my_p = my_df.drop(my_df.columns[[2,7,8,10,11]], axis=1) #удаляем не интересующие нас стоблцы

In [ ]:
df_my_p.head()

                                  Пол, возраст  ...                                  Образование и ВУЗ
0   Мужчина ,  42года , родился 6 октября 1976  ...       Среднее специальное образование 1994 Спту 26
1    Мужчина ,  41год , родился 14 января 1978  ...  Высшее образование 1999  СОЧИНСКИЙ ГОС. УНИВЕР...
2  Мужчина ,  44года , родился 21 февраля 1975  ...  Высшее образование 2003  Московский государств...
3   Мужчина ,  43года , родился 9 февраля 1976  ...  Высшее образование 2002  Российский государств...
4      Мужчина ,  39лет , родился 14 июня 1979  ...  Высшее образование 2007  Российский государств...

[5 rows x 7 columns]

In [ ]:
#Создаем список в которых лежат объекты наших функций
funcList = [getParametersSexAge,getParameterSalary,getParameterCity,
            getParameterEmloyment, getParameterSchedule,getParameterExperience,
            getParameterEducation]

In [ ]:
for i in range(len(df_my_p.columns)):
  df_my_p[df_my_p.columns[i]] = [funcList[i] (cell) for cell in df_my_p[df_my_p.columns[i]]]

In [ ]:
df_my_p.head()

  Пол, возраст  ...    Образование и ВУЗ
0      (М, 44)  ...  среднее специальное
1      (М, 42)  ...               высшее
2      (М, 45)  ...               высшее
3      (М, 44)  ...               высшее
4      (М, 41)  ...               высшее

[5 rows x 7 columns]

In [ ]:
#создаем еще колонки
df_my_p.insert(0,'Пол', np.array([df_my_p['Пол, возраст'][i][0] for i in range(len(df_my_p))]))
df_my_p.insert(1,'Возраст',np.array([df_my_p['Пол, возраст'][i][1] for i in range(len(df_my_p))]))
df_my_p.drop('Пол, возраст', axis=1, inplace=True)
df_my_p.insert(3,'Города', np.array([df_my_p['Город'][i][0] for i in range(len(df_my_p))]))
df_my_p.insert(4,'Переезд', np.array([df_my_p['Город'][i][1] for i in range(len(df_my_p))]))
df_my_p.insert(5,'Командировка', np.array([df_my_p['Город'][i][2] for i in range(len(df_my_p))]))
df_my_p.drop('Город', axis=1, inplace=True)

In [ ]:
df_my_p.head(20)

   Пол  ...          Образование и ВУЗ
0    М  ...        среднее специальное
1    М  ...                     высшее
2    М  ...                     высшее
3    М  ...                     высшее
4    М  ...                     высшее
5    М  ...                     высшее
6    Ж  ...        среднее специальное
7    М  ...                     высшее
8    Ж  ...                     высшее
9    М  ...                     высшее
10   М  ...  высшеесреднее специальное
11   М  ...        среднее специальное
12   М  ...                     высшее
13   М  ...                     высшее
14   М  ...                     высшее
15   М  ...                     высшее
16   М  ...                     высшее
17   М  ...                     высшее
18   Ж  ...                     высшее
19   М  ...        среднее образование

[20 rows x 10 columns]

In [ ]:
#Сохраняю распаршеную базу
df_my_p.to_csv('/content/drive/My Drive/hh_parsed.csv', index= False)

Задание 2. Pro
Возьмите базу квартир (moscow.csv), проведите парсинг и очистку данных:
   ● Уберите строки “Для заметок”
   ● Уберите столбцы “ГРМ” и “Примечания”
   ● Для столбца “Балкон” добавьте категорию “Отсутствует” (вместо NaN)
   ● Значения столбца “Бонус агенту” переведите в тысячи рублей,а пустые значения
заполните нулями
   ● В столбец “Площадь” запишите общую площадь всех помещений
   ● Для столбца “Санузел” заполните отсутствующие значения строкой “Нет данных”
   ● Столбец “Цена” переведите в тысячи рублей

In [ ]:
rooms_M = pd.read_csv('/content/drive/My Drive/moscow.csv', sep=';' )

In [ ]:
rooms_M.head(5)

         Комнат  ...                                         Примечание
0             1  ...  Собственность оформлена! Ключи на руках! Опера...
1  Для заметок:  ...                                                NaN
2             1  ...  Зеленоград к.1820 однокомнатная квартира общ.3...
3  Для заметок:  ...                                                NaN
4             1  ...  Уютная, светлая квартира, застекленный балкон ...

[5 rows x 14 columns]

In [ ]:
rooms_M.shape

(252536, 14)

In [ ]:
# 1) Уберите строки "Для заметок"
new_r = rooms_M[::2] # Отобразим с 10й по 20ю строки датафрейма с шагом 2

In [ ]:
new_r = new_r.reset_index(drop=True)

In [ ]:
new_r.head()

  Комнат  ...                                         Примечание
0      1  ...  Собственность оформлена! Ключи на руках! Опера...
1      1  ...  Зеленоград к.1820 однокомнатная квартира общ.3...
2      1  ...  Уютная, светлая квартира, застекленный балкон ...
3      1  ...  Предлагаю 1- комн квартиру, в шаговой доступно...
4      1  ...  Продается хорошая 1 комнатная квартира. 1 взро...

[5 rows x 14 columns]

In [ ]:
#Уберите столбцы “ГРМ” и “Примечания” 
new_r = new_r.drop(['ГРМ','Примечание'],axis=1)

In [ ]:
new_r.head()

  Комнат  Метро / ЖД станции  ... Кол-во дней в экспозиции         Источник
0      1         Шелепиха м.  ...                      1.0  Привлекательные
1      1  Пятницкое шоссе м.  ...                      2.0  Привлекательные
2      1        Планерная м.  ...                      4.0  Привлекательные
3      1      Шаболовская м.  ...                      7.0  Привлекательные
4      1     Бабушкинская м.  ...                     11.0  Привлекательные

[5 rows x 12 columns]

In [ ]:
#Для столбца “Балкон” добавьте категорию “Отсутствует” (вместо NaN)
new_r.Балкон = new_r.Балкон.fillna('Отсутствует') 
new_r.loc[new_r.Балкон == '-', 'Балкон'] = 'Отсутствует'

In [ ]:
new_r.head()

  Комнат  Метро / ЖД станции  ... Кол-во дней в экспозиции         Источник
0      1         Шелепиха м.  ...                      1.0  Привлекательные
1      1  Пятницкое шоссе м.  ...                      2.0  Привлекательные
2      1        Планерная м.  ...                      4.0  Привлекательные
3      1      Шаболовская м.  ...                      7.0  Привлекательные
4      1     Бабушкинская м.  ...                     11.0  Привлекательные

[5 rows x 12 columns]

In [ ]:
#Значения столбца “Бонус агенту” переведите в тысячи рублей,а пустые значения заполните нулями
#new_r['Бонус агенту'] = new_r['Бонус агенту'].fillna(1000) 
new_r.loc[new_r['Бонус агенту'].isna(), 'Бонус агенту'] = 0 # Зададим значение 0 для Nan

In [ ]:
b = new_r['Бонус агенту'] # Возьмем столбец "Бонус агенту"
c = new_r['Цена, руб.']    # Возьмем столбец 'Цена, руб.'

In [ ]:
for i in range(b.shape[0]): # Пройдем по всем значениям столбца "Бонус агенту"

  if isinstance(b[i], str) and b[i].find('руб.') != -1:  
    b[i] = b[i][:b[i].find('руб.')] 
    b[i] = b[i].replace(' ', '')        
    b[i] = float(b[i])                  
    b[i] = b[i] / 1000                  

  
  elif isinstance(b[i], str) and b[i].find('%') != -1: 
    b[i] = b[i][:b[i].find('%')] 
    b[i] = b[i].replace(' ', '')    
    b[i] = float(b[i])               
    b[i] = b[i] / 100                
    b[i] = b[i] * c[i]            
    b[i] = b[i] / 1000               
    
new_r['Бонус агенту'] = b

In [ ]:
new_r.head()

  Комнат  Метро / ЖД станции  ... Кол-во дней в экспозиции         Источник
0      1         Шелепиха м.  ...                      1.0  Привлекательные
1      1  Пятницкое шоссе м.  ...                      2.0  Привлекательные
2      1        Планерная м.  ...                      4.0  Привлекательные
3      1      Шаболовская м.  ...                      7.0  Привлекательные
4      1     Бабушкинская м.  ...                     11.0  Привлекательные

[5 rows x 12 columns]

In [ ]:
#В столбец “Площадь” запишите общую площадь всех помещений
#sdf = new_r.copy()
new_r

       Комнат  Метро / ЖД станции  ... Кол-во дней в экспозиции         Источник
0           1         Шелепиха м.  ...                      1.0  Привлекательные
1           1  Пятницкое шоссе м.  ...                      2.0  Привлекательные
2           1        Планерная м.  ...                      4.0  Привлекательные
3           1      Шаболовская м.  ...                      7.0  Привлекательные
4           1     Бабушкинская м.  ...                     11.0  Привлекательные
...       ...                 ...  ...                      ...              ...
126263     Ст       Некрасовка м.  ...                     14.0         AVITO.ru
126264     Ст     Авиамоторная м.  ...                     14.0           Яндекс
126265     Ст      Коломенская м.  ...                     14.0         AVITO.ru
126266     Ст        Алтуфьево м.  ...                     14.0         AVITO.ru
126267     Ст         Волжская м.  ...                     14.0         AVITO.ru

[126268 rows x 12 columns]

In [ ]:
s = []

for i in range(len(new_r.Площадь)):
  s = new_r.Площадь.values[i]
  s = s.replace('?','0')
  s = s.replace('/',',')
  s = re.sub(r'\d\d.\d\d.\d{4}','0,0,0',s)
  s = s.split(',')
  
  new_r.Площадь.values[i] = s 
  new_r.Площадь.values[i]=float(new_r.Площадь.values[i][0])+float(new_r.Площадь.values[i][1])+float(new_r.Площадь.values[i][2])

In [ ]:
new_r.Площадь

0         107.1
1          64.4
2            68
3            60
4            59
          ...
126263     19.8
126264     38.4
126265     28.6
126266     43.9
126267     32.7
Name: Площадь, Length: 126268, dtype: object

In [ ]:
new_r.rename(columns={'Бонус агенту': 'Бонус агенту, тыс. руб.'}, inplace=True) # Даем новое название столбцу
new_r.head()

  Комнат  Метро / ЖД станции  ... Кол-во дней в экспозиции         Источник
0      1         Шелепиха м.  ...                      1.0  Привлекательные
1      1  Пятницкое шоссе м.  ...                      2.0  Привлекательные
2      1        Планерная м.  ...                      4.0  Привлекательные
3      1      Шаболовская м.  ...                      7.0  Привлекательные
4      1     Бабушкинская м.  ...                     11.0  Привлекательные

[5 rows x 12 columns]

In [ ]:
#Проверка столбца на не 0
new_r.loc[new_r['Бонус агенту, тыс. руб.'] != 0, 'Бонус агенту, тыс. руб.']

152          10
304          10
319          10
388          50
456        70.5
          ...
124244       20
124510        5
124753    10.15
125287      150
125843       50
Name: Бонус агенту, тыс. руб., Length: 1252, dtype: object

In [ ]:
#Для столбца “Санузел” заполните отсутствующие значения строкой “Нет данных” 
new_r.loc[new_r.Санузел == '-', 'Санузел'] = 'Нет данных'
new_r['Санузел'] = new_r['Санузел'].fillna('Нет данных')

In [ ]:
new_r.head(10)

  Комнат        Метро / ЖД станции  ... Кол-во дней в экспозиции         Источник
0      1               Шелепиха м.  ...                      1.0  Привлекательные
1      1        Пятницкое шоссе м.  ...                      2.0  Привлекательные
2      1              Планерная м.  ...                      4.0  Привлекательные
3      1            Шаболовская м.  ...                      7.0  Привлекательные
4      1           Бабушкинская м.  ...                     11.0  Привлекательные
5      1               Шелепиха м.  ...                     11.0  Привлекательные
6      1    Улица Дмитриевского м.  ...                     14.0  Привлекательные
7      1  Бульвар Рокоссовского м.  ...                     15.0  Привлекательные
8      1           Марьина Роща м.  ...                     16.0  Привлекательные
9      1                Марьино м.  ...                     16.0  Привлекательные

[10 rows x 12 columns]

In [ ]:
#Столбец “Цена” переведите в тысячи рублей

new_r.head()

  Комнат  Метро / ЖД станции  ... Кол-во дней в экспозиции         Источник
0      1         Шелепиха м.  ...                      1.0  Привлекательные
1      1  Пятницкое шоссе м.  ...                      2.0  Привлекательные
2      1        Планерная м.  ...                      4.0  Привлекательные
3      1      Шаболовская м.  ...                      7.0  Привлекательные
4      1     Бабушкинская м.  ...                     11.0  Привлекательные

[5 rows x 12 columns]

In [ ]:
#Столбец “Цена” переведите в тысячи рублей

#df['Цена, руб.'] = df['Цена, руб.'] / 1000

m = []
for i in range(len(new_r['Цена, руб.'])):
  new_r['Цена, руб.'].values[i] = new_r['Цена, руб.'].values[i]/1000
  
new_r.rename(columns={'Цена, руб.': 'Цена, тыс. руб.'}, inplace=True)

In [ ]:
new_r.head()

  Комнат  Метро / ЖД станции  ... Кол-во дней в экспозиции         Источник
0      1         Шелепиха м.  ...                      1.0  Привлекательные
1      1  Пятницкое шоссе м.  ...                      2.0  Привлекательные
2      1        Планерная м.  ...                      4.0  Привлекательные
3      1      Шаболовская м.  ...                      7.0  Привлекательные
4      1     Бабушкинская м.  ...                     11.0  Привлекательные

[5 rows x 12 columns]

In [ ]:
new_r.to_csv('/content/drive/My Drive/moskow_rooms_parsed.csv', index= False)